version: '3.3'
services:
  bot:
    container_name: bot_dev
    build:
      context: ./
    depends_on:
      - db
      - pgadmin
    ports:
      - 3001:3001

  db:
    image: postgres:16-alpine
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5432:5432
    healthcheck:
       test: ["CMD-SHELL", "pg_isready -U ponarth_user -d ponarth_requests"]
       interval: 5s
       timeout: 5s
       retries: 5
    volumes:
      - ./data:/var/lib/postgresql/data2

  pgadmin:
    image: dpage/pgadmin4
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - ${PGADMIN_PORT}:80